version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: userdb-container
    restart: always
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  flask:
    build: .
    container_name: flask-container
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    env_file:
      - .env

volumes:
  mysql_data:
